In [0]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (1.0.3)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.18.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)

In [0]:
!pip install -U scikit-learn

Requirement already up-to-date: scikit-learn in /usr/local/lib/python3.6/dist-packages (0.22.2.post1)
Requirement already satisfied, skipping upgrade: numpy>=1.11.0 in /usr/local/lib/python3.6/dist-packages (from scikit-learn) (1.18.3)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn) (0.14.1)
Requirement already satisfied, skipping upgrade: scipy>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from scikit-learn) (1.4.1)

In [0]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
import math

In [0]:
df = pd.read_csv("dataset.csv")
df = df.drop(['country', 'country_abb'], axis=1)
df_low = df.loc[df['Tier'] == '0']
df_mid = df.loc[df['Tier'] == '1']
df_high = df.loc[df['Tier'] == '2']

In [0]:
# # some of the rows have 'NaN' as labels, so gotta drop those
drop_row_indices_low = []
for i, row in df_low.iterrows():
    for j, col in row.iteritems():
        try:
            row[j] = float(col)
        except ValueError:
            # print("ValueError")
            drop_row_indices_low.append(i)
            continue
        if math.isnan(row[j]):
            drop_row_indices_low.append(i)

In [0]:
# # some of the rows have 'NaN' as labels, so gotta drop those
drop_row_indices_mid = []
for i, row in df_mid.iterrows():
    for j, col in row.iteritems():
        try:
            row[j] = float(col)
        except ValueError:
            # print("ValueError")
            drop_row_indices_mid.append(i)
            continue
        if math.isnan(row[j]):
            drop_row_indices_mid.append(i)

In [0]:
# # some of the rows have 'NaN' as labels, so gotta drop those
drop_row_indices_high = []
for i, row in df_high.iterrows():
    for j, col in row.iteritems():
        try:
            row[j] = float(col)
        except ValueError:
            # print("ValueError")
            drop_row_indices_high.append(i)
            continue
        if math.isnan(row[j]):
            drop_row_indices_high.append(i)

In [0]:
df_low = df_low.drop(drop_row_indices_low, axis=0)
df_mid = df_mid.drop(drop_row_indices_mid, axis=0)
df_high = df_high.drop(drop_row_indices_high, axis=0)

In [0]:
df_mid

      year Tier   VAA  PSNV    GE    RQ    RL    CC     GDPgrowth
2     2002    1 -1.24 -1.58 -1.24 -1.46 -1.62 -1.18   13.66568652
3     2002    1 -0.01 -0.29 -0.53 -0.22 -0.76 -0.87    4.53996064
5     2002    1  0.26 -0.78 -0.28 -0.92 -0.76 -0.47  -10.89448483
6     2002    1 -0.44 -0.26 -0.09  0.04 -0.42 -0.75   13.18630053
10    2002    1 -0.98 -1.19 -0.93 -0.71 -0.91 -1.18   9.438916342
...    ...  ...   ...   ...   ...   ...   ...   ...           ...
3459  2018    1 -1.45  0.20  0.00 -0.39  0.00 -0.49   7.075788617
3460  2018    1  0.54  0.84 -0.49 -0.47  0.34 -0.16           3.2
3461  2018    1 -0.90 -1.74 -0.76  0.05 -0.48 -0.20   0.905278232
3464  2018    1  0.00  0.08  0.11  0.01 -0.15 -0.37   4.392237239
3465  2018    1  0.66 -0.28  0.34  0.17 -0.10 -0.02   0.787055571

[1226 rows x 9 columns]

In [0]:
features = ['year', 'VAA', 'PSNV', 'GE', 'RQ', 'RL', 'CC']

X_low = df_low.loc[:, features]
y_low = df_low.GDPgrowth
X_train_low, X_test_low, y_train_low, y_test_low = train_test_split(X_low, y_low, test_size=.15)

X_mid = df_mid.loc[:, features]
y_mid = df_mid.GDPgrowth
X_train_mid, X_test_mid, y_train_mid, y_test_mid = train_test_split(X_mid, y_mid, test_size=.15)

X_high = df_high.loc[:, features]
y_high = df_high.GDPgrowth
X_train_high, X_test_high, y_train_high, y_test_high = train_test_split(X_high, y_high, test_size=.15)

regression_model = LinearRegression()

In [0]:
regression_model.fit(X_train_low, y_train_low)
predicted_y_low = regression_model.predict(X_test_low)
mean_squared_error(y_test_low, predicted_y_low)

22.17139345913844

In [0]:
regression_model.fit(X_train_mid, y_train_mid)
predicted_y_mid = regression_model.predict(X_test_mid)
mean_squared_error(y_test_mid, predicted_y_mid)

18.475388570557428

In [0]:
regression_model.fit(X_train_high, y_train_high)
predicted_y_high = regression_model.predict(X_test_high)
mean_squared_error(y_test_high, predicted_y_high)

13.361899868592285

In [0]:
df2 = pd.read_csv("dataset.csv")
df2 = df2.drop(['country', 'country_abb'], axis=1)

# # some of the rows have 'NaN' as labels, so gotta drop those
drop_row_indices = []
for i, row in df2.iterrows():
    for j, col in row.iteritems():
        try:
            row[j] = float(col)
        except ValueError:
            # print("ValueError")
            drop_row_indices.append(i)
            continue
        if math.isnan(row[j]):
            drop_row_indices.append(i)

df2 = df2.drop(drop_row_indices, axis=0)

print(df2)

features2 = ['year', 'Tier','VAA', 'PSNV', 'GE', 'RQ', 'RL', 'CC']

X = df2.loc[:, features2]

y = df2.GDPgrowth

av_mean_squared_error = 0
for i in range(10):
  X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.15)

  regression_model2 = LinearRegression()

  regression_model2.fit(X_train, y_train)
  predicted_y = regression_model2.predict(X_test)
  av_mean_squared_error+=mean_squared_error(y_test, predicted_y)/10

av_mean_squared_error

      year Tier   VAA  PSNV  ...     GDPgrowth  Tier0  Tier1  Tier2
2     2002    1 -1.24 -1.58  ...   13.66568652    0.0    1.0    0.0
3     2002    1 -0.01 -0.29  ...    4.53996064    0.0    1.0    0.0
4     2002    2 -0.63  0.93  ...    2.43345681    0.0    0.0    1.0
5     2002    1  0.26 -0.78  ...  -10.89448483    0.0    1.0    0.0
6     2002    1 -0.44 -0.26  ...   13.18630053    0.0    1.0    0.0
...    ...  ...   ...   ...  ...           ...    ...    ...    ...
3464  2018    1  0.00  0.08  ...   4.392237239    0.0    1.0    0.0
3465  2018    1  0.66 -0.28  ...  0.7870555705    0.0    1.0    0.0
3466  2018    0 -1.51 -2.12  ...   5.757932738    1.0    0.0    0.0
3467  2018    0 -0.32  0.14  ...   3.794900917    1.0    0.0    0.0
3468  2018    0 -1.13 -0.71  ...   6.159189798    1.0    0.0    0.0

[3136 rows x 13 columns]
      year Tier   VAA  PSNV    GE    RQ    RL    CC
2     2002    1 -1.24 -1.58 -1.24 -1.46 -1.62 -1.18
3     2002    1 -0.01 -0.29 -0.53 -0.22 -0.76 -0.87
4     2002    2 -0.63  0.93  0.85  1.12  0.73  1.15
5     2002    1  0.26 -0.78 -0.28 -0.92 -0.76 -0.47
6     2002    1 -0.44 -0.26 -0.09  0.04 -0.42 -0.75
...    ...  ...   ...   ...   ...   ...   ...   ...
3464  2018    1  0.00  0.08  0.11  0.01 -0.15 -0.37
3465  2018    1  0.66 -0.28  0.34  0.17 -0.10 -0.02
3466  2018    0 -1.51 -2.12 -1.55 -1.47 -1.78 -1.50
3467  2018    0 -0.32  0.14 -0.56 -0.44 -0.34 -0.66
3468  2018    0 -1.13 -0.71 -1.20 -1.58 -1.27 -1.24

[3136 rows x 8 columns]

33.61326672198833

In [0]:
#model with tiered dummies as features 
df2 = pd.read_csv("dataset.csv")
df2 = df2.drop(['country', 'country_abb'], axis=1)

# # some of the rows have 'NaN' as labels, so gotta drop those
drop_row_indices = []
for i, row in df2.iterrows():
    for j, col in row.iteritems():
        try:
            row[j] = float(col)
        except ValueError:
            # print("ValueError")
            drop_row_indices.append(i)
            continue
        if math.isnan(row[j]):
            drop_row_indices.append(i)

df2 = df2.drop(drop_row_indices, axis=0)

features3 = ['year', 'Tier0','Tier1','Tier2','VAA', 'PSNV', 'GE', 'RQ', 'RL', 'CC']

X = df2.loc[:, features3]
y = df2.GDPgrowth

av_mean_squared_error=0

for i in range(10):
  X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.15)

  regression_model3 = LinearRegression()

  regression_model3.fit(X_train, y_train)
  predicted_y = regression_model3.predict(X_test)
  av_mean_squared_error += mean_squared_error(y_test, predicted_y)/10

av_mean_squared_error

28.061899363552875